@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

@Html.Raw(ViewBag.day);
@Html.Raw(ViewBag.timeslot);

@Html.Raw(ViewBag.newMeeting.IdDay);
@Html.Raw(ViewBag.newMeeting.IdTimeslot);

@Html.Raw(ViewBag.resp);