@{
    ViewData["Title"] = "View";
}
<h1> Add a meeting </h1>

<form asp-controller="Home" asp-action="AddMeetingAsync" method="post">

    <div class="row">
        <div class="col-md-6">
            <h2>Select an available day</h2>
            <select name="day">
                <option value="">Select a number</option>
                @foreach (var Day in ViewBag.days)
                {
                    <option value="@Day.IdDay">@Day.Day</option>
                }
            </select>
        </div>

        <div class="col-md6">
            <h2>Select an available timeslot</h2>
            <select name="timeslot">
                <option value="">Select a number</option>
                @foreach (var Timeslot in ViewBag.timeslots)
                {
                    <option value="@Timeslot.IdTimeslot"> @Timeslot.StartTime - @Timeslot.EndTime</option>
                }
            </select>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</form>